[submodule "apilib"]
	path = apilib
	url = git@bitbucket.org:fletcher2014/android_api_lib.git
[submodule "storagelib"]
	path = storagelib
	url = git@bitbucket.org:fletcher2014/android_storage_lib.git
